<h3>
    Modulos
    <a ui-sref="app.modules-create" class="pull-right btn btn-info">Registrar Modulo</a>
    <small>Gestión de Modulos</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 160px">Modulo</th>
                                <th class="text-center">Sub Modulos</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in modules track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.name}}</td>
                            <td>
                                <span ng-repeat="sub in row.submodules">
                                    {{sub.name}},
                                </span>
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.modules-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteModule(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
    </div>
</div>