<h3>
    Propuestas de Crédito
    <a ui-sref="app.request-loans-create" class="pull-right btn btn-info">Registrar Solicitud</a>
    <small>Gestión de Propuestas de Crédito</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">

                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group input-group-sm pull-right">
                                    <input type="text" name="table_search"
                                           class="form-control"  placeholder="Buscar"
                                           ng-model="loan.search" ng-change="searchLoan()">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-ifo disabled"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center">Cliente</th>
                                <th class="text-center">Asesor</th>
                                <th class="text-center" style="width: 70px">Monto</th>
                                <th style="width: 220px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in requestLoans track by $index" >
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.person.customer_name}}</td>
                            <td>{{row.employee.person.customer_name}}</td>
                            <td class="text-right">{{row.amount}}</td>
                            <td class="text-center">
                                <a href="app/request-loans/show/{{row.id}}" target="_blank" class="mb-sm btn btn-info">
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dialogWithNestedConfirmDialogId">
    <div class="ngdialog-message text-center">
        <h3 class="mt0">Elija Una Opcion</h3>
        <a href="#" ng-click="annulledLoan()" class="btn btn-danger" ng-hide="loan.state == 'Cancelado'
                                                    || loan_selected.state == 'Perdida'
                                                    || loan_selected.state == 'Garantía Ejecutada'
                                                    || loan_selected.state == 'Perdida Cancelado'
                                                    || loan_selected.state == 'Garantía Ejecutada Cancelado'
                                                    || loan_selected.state == 'Anulado'
          ">Anular
        </a><br><br>
        <a href="#" ng-click="loseLoan()" class="btn btn-warning" ng-hide="
                loan_selected.state == 'Cancelado'
                || loan_selected.state == 'Perdida'
                || loan_selected.state == 'Garantía Ejecutada'
                || loan_selected.state == 'Perdida Cancelado'
                || loan_selected.state == 'Garantía Ejecutada Cancelado'
                || loan_selected.state == 'Anulado'
            ">
            Perdida
        </a><br><br>
        <a href="#" ng-click="warrantyLoan()" class="btn btn-default bg-danger-light" ng-hide="
            loan_selected.state == 'Cancelado'
            || loan_selected.state == 'Perdida'
            || loan_selected.state == 'Garantía Ejecutada'
            || loan_selected.state == 'Perdida Cancelado'
            || loan_selected.state == 'Garantía Ejecutada Cancelado'
            || loan_selected.state == 'Anulado'
            || loan_selected.warranty_option == 'No'
        ">Garantía Ejecutada</a> <br><br>
        <a href="app/loans/print-schedule?loan-id={{loan_selected.id}}" ng-click="printSchedule()" target="_blank" class="btn btn-info">
            Imprimir Cronograma
        </a>
    </div>
</script>