<h3>
    Planilla
    <a ui-sref="app.payroll-salaries-create" class="pull-right btn btn-info">Registrar Planilla</a>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <a ui-sref="app.payroll-salaries-discount" class="mb-sm btn btn-warning">
                            Descuento
                        </a>
                    </div>
                </div>
                <br>
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center" style="width: 170px">Estado</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in payrollSalaries track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.name}}</td>
                            <td>
                                {{row.state}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.payroll-salaries-pay({id:row.id})" class="mb-sm btn btn-info">
                                    Ver
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>