<h3>
    Clientes
    <a ui-sref="app.customers-create" class="pull-right btn btn-info">Registrar Cliente</a>
    <small>Gestión de Clientes</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">
                                <select chosen="" ng-model="customer.rate_filter"
                                        width="'100%'"
                                        ng-change="loadPage(1)"
                                        data-placeholder="Calificación"
                                        class="chosen-select input-sm"
                                >
                                    <option value="">Calificación</option>
                                    <option value="Bueno">Bueno</option>
                                    <option value="Malo">Malo</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select chosen="" ng-model="customer.type"
                                        width="'100%'"
                                        ng-change="filterCustomer()"
                                        data-placeholder="Selecione Tipo"
                                        class="chosen-select input-sm"
                                >
                                    <option value="">Seleccione Tipo</option>
                                    <option value="Enterprise">Empresa</option>
                                    <option value="Person">Persona</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group input-group-sm pull-right">
                                    <input type="text" name="table_search"
                                           class="form-control"  placeholder="Buscar"
                                           ng-model="customer.search" ng-change="searchCustomer()">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-info disabled"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 170px">Código</th>
                                <th class="text-center">Cliente</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in customers track by $index"
                            ng-class ="{'text-danger' : row.rate == 'Malo'}">
                            <td class="text-center">{{$index + 1 + sum_cor_page}}</td>
                            <td>{{row.code}}</td>
                            <td>
                                {{row.customer.customer_name}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.customers-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteCustomer(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>