<h3>
    Trabajadores
    <a ui-sref="app.employees-create" class="pull-right btn btn-info">Registrar Trabajador</a>
    <small>Gestión de Trabajadores</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-3">
                                <select chosen="" ng-model="employee.site"
                                        width="'100%'"
                                        ng-change="filterSite()"
                                        data-placeholder="Selecione Local"
                                        class="chosen-select input-sm"
                                        ng-options="item.name for item in sites track by item.id"
                                >
                                    <option value="">Seleccione Local</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select chosen="" ng-model="employee.area"
                                        width="'100%'"
                                        ng-change="filterArea()"
                                        data-placeholder="Selecione Area"
                                        class="chosen-select input-sm"
                                        ng-options="item.name for item in employee.site.areas track by item.id"
                                >
                                    <option value="">Seleccione Area</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select chosen="" ng-model="employee.area_job"
                                        width="'100%'"
                                        ng-change="filterAreaJob()"
                                        data-placeholder="Selecione Cargo"
                                        class="chosen-select input-sm"
                                        ng-options="item.name for item in employee.area.area_jobs track by item.id"
                                >
                                    <option value="">Seleccione Cargo</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group input-group-sm pull-right">
                                    <input type="text" name="table_search"
                                           class="form-control"  placeholder="Buscar"
                                           ng-model="employee.search" ng-change="searchEmployee()">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-info disabled"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" >Nombre</th>
                                <th class="text-center" style="width: 120px">Local</th>
                                <th class="text-center" style="width: 120px">Area</th>
                                <th class="text-center" style="width: 120px">Cargo</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in employees track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.person.full_name}}</td>
                            <td>
                                {{row.site.name}}
                            </td>
                            <td>
                                {{row.area.name}}
                            </td>
                            <td>
                                {{row.area_job.name}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.employees-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteEmployee(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>