<h3>
    Cargos
    <a ui-sref="app.area-jobs-create" class="pull-right btn btn-info">Registrar Cargo</a>
    <small>Gestión de Cargos</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-5">
                                <select chosen="" ng-model="areaJob.area"
                                        width="'100%'"
                                        ng-change="filterArea()"
                                        data-placeholder="Selecione Area"
                                        class="chosen-select input-sm"
                                        ng-options="item.name for item in areas track by item.id"
                                >
                                    <option value="">Seleccione Area</option>
                                </select>
                            </div>
                            <div class="col-sm-7">
                                <div class="input-group input-group-sm pull-right">
                                    <input type="text" name="table_search"
                                           class="form-control"  placeholder="Buscar"
                                           ng-model="customer.search" ng-change="searchCustomer()">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-info disabled"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 170px">Area</th>
                                <th class="text-center" style="width: 170px">Nombre</th>
                                <th class="text-center">Descripción</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in areaJobs track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.area.name}}</td>
                            <td>{{row.name}}</td>
                            <td>
                                {{row.description}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.area-jobs-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteAreaJob(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>