<h3>
    Usuarios
    <a ui-sref="app.users-create" class="pull-right btn btn-info">Registrar Usuario</a>
    <small>Gestión de Usuarios de Sistema</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <div class="input-group input-group-sm pull-right">
                            <input type="text" name="table_search"
                                   class="form-control"  placeholder="Buscar"
                                   ng-model="user.search" ng-change="searchUser()">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default disabled"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 170px">Nombre</th>
                                <th class="text-center">Persona</th>
                                <th class="text-center" style="width: 170px">Perfil</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in users track by $index">
                            <td class="text-center" style="background: {{row.color}}">{{$index + 1}}</td>
                            <td>{{row.name}}</td>
                            <td>
                                {{row.person.customer_name}}
                            </td>
                            <td>
                                {{row.profile.name}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.users-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteUser(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>