<h3>
    Clientes
    <small>Gestión de Clientes</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-5">
                        <div angucomplete-alt
                             id="customer"
                             placeholder="Buscar Cliente"
                             pause="500"
                             selected-object="setCustomer"
                             remote-url="app/api/customers?type=Person&q="
                             title-field="customer.customer_name"
                             minlength="3"
                             input-class="form-control form-control-small"
                             match-class="highlight"
                             input-name="customer_id">
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="set_rate">
                        <div class="form-group">
                            <input type="text" name="table_search"
                                   class="form-control"  placeholder="Observacion"
                                   ng-model="customer.note">
                        </div>
                    </div>
                    <div class="col-sm-2" ng-show="set_rate">
                        <a href="#" ng-click="setCustomerBlackList()" class="btn btn-info">
                            Agregar
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 170px">Código</th>
                                <th class="text-center">Cliente</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in customers track by $index"
                            ng-class ="{'text-danger' : row.rate == 'Malo'}">
                            <td class="text-center">{{$index + 1 + sum_cor_page}}</td>
                            <td>{{row.code}}</td>
                            <td>
                                {{row.customer.customer_name}}
                            </td>
                            <td class="text-center">
                                <a href="#" ng-click="unSetCustomerBlackList(row)" class="mb-sm btn btn-danger">
                                    Anular
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>