<h3>
    Compañia
    <a ui-sref="app.companies-create" class="pull-right btn btn-info" ng-hide="companies.length > 0">Registrar Compañia</a>
    <small>Registro de Compañia</small>
</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">

                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 30px">#</th>
                                <th class="text-center" style="width: 170px">RUC</th>
                                <th class="text-center">Razón Social</th>
                                <th style="width: 180px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in companies track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td>{{row.ruc}}</td>
                            <td>
                                {{row.razon_social}}
                            </td>
                            <td class="text-center">
                                <a ui-sref="app.companies-edit({id:row.id})" class="mb-sm btn btn-info">
                                    Editar
                                </a>

                                <a href="#" ng-click="deleteCompany(row)" class="mb-sm btn btn-danger">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pagination-sm pull-right" ng-show="paginate">
                            <li>
                                <a href="#" ng-show="paginate.current_page > 1" ng-click="previousPage()">«</a>
                            </li>
                            <li ng-repeat="i in paginate.pages track by $index " ng-hide="$index+1 < paginate.current_page-4 || $index+1 > paginate.current_page + 9" ng-class="{true:'active'}[paginate.current_page == $index+1]">
                                <a href="#" ng-click="loadPage($index+1)">
                                    {{$index+1}}
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-show="paginate.current_page < paginate.last_page" ng-click="nextPage()">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>