<div ng-controller="LoginFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="images/logo_membretado2.jpg" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">INICIA SESIÓN PARA CONTINUAR.</p>
         <form role="form" ng-submit="loginForm.$valid && login()" name="loginForm" novalidate="" class="form-validate mb-lg">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="text" name="name" placeholder="Usuario" autocomplete="off" ng-model="user.name" required="" class="form-control" />
               <span class="fa fa-user form-control-feedback text-muted"></span>
               <span ng-show="loginForm.name.$dirty &amp;&amp; loginForm.name.$error.required" class="text-danger">Este campo es requerido.</span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" name="account_password" placeholder="Contraseña" ng-model="user.password" required="" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span ng-show="loginForm.account_password.$dirty &amp;&amp; loginForm.account_password.$error.required" class="text-danger">Este campo es requerido.</span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="account_remember" ng-model="user.remember" />
                     <span class="fa fa-check"></span>Recuerdame</label>
               </div>
               <div class="pull-right">
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Entrar</button>
         </form>
         <div ng-show="user.authMsg" class="alert alert-danger text-center">{{user.authMsg}}</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>